---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import EmailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperienceWorkIcon from "../components/icons/ExperienceWork.astro";
import Experience from "../components/Experience.astro";
import ProjectIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import Knowledge from "../components/Knowledge.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Portafolio de Sam - Desarrollador y programador web"
  description="Siempre innovando."
>
  <main class="px-8">
    <SectionContainer class="py-44 pb-28">
      <img
        class="rounded-full size-24 mb-4"
        src="../../public/projects/pic.jpeg"
        alt="photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Samuel<a
          href="https://google.com"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Ingeniero en Computación. </span>
        <span class="opacity-90 text-green-200">Desarrollador. </span>
        <span class="opacity-70"
          >Enfocado en el desarrollo de soluciones web, aplicaciones móviles y
          videojuegos únicos.</span
        >

        <nav class="flex gap-6 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/in/samflogar">
            <LinkedInIcon class="size-4 md:size-6" />
            Linkedin
          </SocialPill>
          <SocialPill href="https://github.com/AndIAmSam">
            <GitHubIcon class="size-4 md:size-6" />
            GitHub
          </SocialPill>
          <SocialPill href="mailto:samflogar@protonmail.com">
            <EmailIcon class="size-4 md:size-6" />
            E-Mail
          </SocialPill>
        </nav>
      </h2>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ExperienceWorkIcon class="size-7" />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProjectIcon class="size-7" />
        Proyectos Destacados
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="knowledge">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProjectIcon class="size-7" />
        Conocimientos
      </h2>
      <Knowledge />
    </SectionContainer>

    <SectionContainer id="about">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProjectIcon class="size-7" />
        Sobre mí
      </h2>
      <About />
    </SectionContainer>

    <SectionContainer id="contact">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProjectIcon class="size-7" />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
    
  </main>
</Layout>
