<div
  class="grid mb-8 border rounded-lg shadow-smborder-gray-700 md:mb-12 md:grid-cols-2"
>
  <figure
    class="flex flex-col items-center justify-center p-6 text-center border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700 transition-all duration-300 hover:bg-neutral-700/50"
  >
    <a
      href="https://github.com/TuUsuarioGitHub"
      class="flex items-center justify-center transition-all duration-300 hover:scale-110"
      target="_blank"
    >
      <img
        class="rounded-full w-9 h-9"
        src="../../src/brandIcons/GitHub.svg"
        alt="picture"
      />
      <div
        class="space-y-0.5 font-medium text-white text-left rtl:text-right ms-3"
      >
        <div>AndIAmSam</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">GitHub</div>
      </div>
    </a>
  </figure>
  <figure
    class="flex flex-col items-center justify-center p-8 text-center border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700 transition-all duration-300 hover:bg-red-500/70"
  >
    <a
      href="https://github.com/TuUsuarioGitHub"
      class="flex items-center justify-center transition-all duration-300 hover:scale-110"
      target="_blank"
    >
      <img
        class="rounded-xs w-9 h-9"
        src="../../src/brandIcons/Instagram.svg"
        alt="picture"
      />
      <div
        class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
      >
        <div>AndIAmSam</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">Instagram</div>
      </div>
    </a>
  </figure>
  <figure
    class="flex flex-col items-center justify-center p-8 text-center border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700 transition-all duration-300 hover:bg-blue-500/50"
  >
    <a
      href="https://github.com/TuUsuarioGitHub"
      class="flex items-center justify-center transition-all duration-300 hover:scale-110"
      target="_blank"
    >
      <img
        class="rounded-xs w-9 h-9"
        src="../../src/brandIcons/LinkedIn.svg"
        alt="picture"
      />
      <div
        class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
      >
        <div>samflogar</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">LinkedIn</div>
      </div>
    </a>
  </figure>
  <figure
    class="flex flex-col items-center justify-center p-8 text-center border-gray-200 rounded-b-lg md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700 transition-all duration-300 hover:bg-purple-500/50"
  >
    <a
      href="mailto:samflogar@protonmail.com"
      class="flex items-center justify-center transition-all duration-300 hover:scale-110"
      target="_blank"
    >
      <img
        class="rounded-full w-9 h-9"
        src="../../src/brandIcons/Proton.svg"
        alt="picture"
      />
      <div
        class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
      >
        <div>samflogar@protonmail.com</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">E-mail</div>
      </div>
    </a>
  </figure>
</div>
