---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Además, actualmente...",
    title: "Desarrollador - Proyectos Personales",
    description: "Me encuentro desarrollando proyectos personales, en forma de aplicaciones móviles, aplicaciones web o proyectos de investigación.",
  },
  {
    date: "Febrero 2024 - Junio 2024",
    title: "Desarrollador Web Frontend - Redalyc",
    description:
      "Estoy participando en el desarrollo del frontend de la página web de Redalyc, una plataforma de acceso abierto a la producción científica de América Latina.",
  },
  {
    date: "Febrero 2023 - Diciembre 2023",
    title: "Desarrollador Web y Móvil - Fuego Nuevo",
    description:
      "Desarrollé una página web y una aplicación móvil para la empresa Fuego Nuevo, con el fin de darse a conocer. Así como páginas web internas para gestionar distintos proyectos.",
  },
  {
    date: "Abril 2023 - Febrero 2024",
    title:
      "Desarrollador Web Frontend - Facultad de Economía de la Universidad Autónoma del Estado de México",
    description:
      "Estuve al frente del desarrollo del frontend de una página web para generar constancias de estudios dentro de la Facultad.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
