<header class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center fixed top-0 left-0 right-0 z-10 flex justify-center items-center py-5 xl:w-[1120px]">
    <nav class="flex space-x-7 flex-row gap-x-10 opacity-90 bg-black/80 py-2 px-20 rounded-2xl font-semibold text-lg">
        <a href="#top" class="hover:text-green-200 hover:scale-125 transition">Inicio</a>
        <a href="#experience" class="hover:text-green-200 hover:scale-125 transition">Experiencia</a>
        <a href="#projects" class="hover:text-green-200 hover:scale-125 transition">Proyectos</a>
        <a href="#about" class="hover:text-green-200 hover:scale-125 transition">Sobre mí</a>
        <a href="#contact" class="hover:text-green-200 hover:scale-125 transition">Contacto</a>
    </nav>
</header>
