<div class="grid grid-cols-3 md:grid-cols-7 gap-4">
  <h3 class="text-3xl font-semibold text-green-200">Web</h3>
  <h3 class="text-3xl font-semibold text-green-200">Móvil</h3>
  <h3 class="text-3xl font-semibold text-green-200">Dev Tools</h3>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/JavaScript.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Typescript.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Astro.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/HTML.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/CSS.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Tailwind.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/React.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/ReactRouter.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Redux.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Expo.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/NodeJS.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Express.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/MySQL.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/MariaDB.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Unity.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/CS.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/AWS.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Docker.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Git.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Python.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Linux.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Figma.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Wordpress.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./../../public/knowledge/Elementor.svg"
      alt=""
    />
  </div>
</div>
