---
interface IconProps {
  component: any;
  label: string;
}

interface AstroProps {
  title: string;
  description: string;
  link?: string;
  icon?: IconProps[];
}


const { title, description, link, icon } = Astro.props;
---

<li class="mb-10 ms-6">
  <span
    class="absolute flex items-center justify-center w-6 h-6 bg-white rounded-full -start-3"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-circle-check"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#000000"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
      <path d="M9 12l2 2l4 -4"></path>
    </svg>
  </span>
  <h3 class="mb-1 text-2xl font-semibold text-green-200 dark:text-white">
    {title}
  </h3>
  <p
    class="block mb-8 text-base text-pretty font-normal leading-none text-white/80"
  >
    {description}
  </p>
  <div class="grid grid-cols-3 md:grid-cols-8 gap-4">
    {icon?.map(({ component: IconComponent, label }: { component: any; label: string }) => (
      <div class="icon-wrapper inline-block w-12 mt-2 mr-2 h-auto max-w-full rounded-lg">
        <IconComponent class="icon" />
        <span class="sr-only">{label}</span>
      </div>
    ))}
  </div>
</li>

<style>
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }
  
  .icon {
    width: 100%;
    height: auto;
    max-width: 5vw; 
    max-height: 5vw; 
  }
  
  @media (max-width: 768px) {
    .icon {
      max-width: 10vw;
      max-height: 10vw;
    }
  }
  
  @media (max-width: 480px) {
    .icon {
      max-width: 15vw; 
      max-height: 15vw;
    }
  }
  
  .icon-grid {
    gap: 1rem; 
  }
  
  @media (max-width: 768px) {
    .icon-grid {
      gap: 0.5rem; 
    }
  }
  
  @media (max-width: 480px) {
    .icon-grid {
      gap: 0.25rem;
    }
  }
  </style>
