---
import KnowledgeItem from "./KnowledgeItem.astro";

const KNOWLEDGE = [
  {
    title: "Suelo usar más...",
    description:
      "Tecnologías con las que estoy más familiarizado y que frecuentemente utilizo en mis proyectos. Estas son las tecnologías en las que tengo más experiencia y en las que confío para entregar proyectos de alta calidad.",
    icon: [
      { src: "./../../src/brandIcons/React.svg", label: "React Native" },
      { src: "./../../src/brandIcons/Expo.svg", label: "Expo" },
      { src: "./../../src/brandIcons/NodeJS.svg", label: "NodeJS" },
      { src: "./../../src/brandIcons/Tailwind.svg", label: "Tailwind" },
      { src: "./../../src/brandIcons/Bun.svg", label: "Bun" },
      { src: "./../../src/brandIcons/JavaScript.svg", label: "JavaScript" },
      { src: "./../../src/brandIcons/Typescript.svg", label: "Typescript" },
      { src: "./../../src/brandIcons/Express.svg", label: "Express" },
      { src: "./../../src/brandIcons/HTML.svg", label: "HTML" },
      { src: "./../../src/brandIcons/CSS.svg", label: "CSS" },
      { src: "./../../src/brandIcons/Astro.svg", label: "Astro" },
      { src: "./../../src/brandIcons/Vite.svg", label: "Vite" },
      { src: "./../../src/brandIcons/Unity.svg", label: "Unity" },
      { src: "./../../src/brandIcons/CS.svg", label: "CS" },
      { src: "./../../src/brandIcons/Wordpress.svg", label: "Wordpress" },
      { src: "./../../src/brandIcons/Elementor.svg", label: "Elementor  " },
      { src: "./../../src/brandIcons/MySQL.svg", label: "MySQL" },
      { src: "./../../src/brandIcons/MariaDB.svg", label: "MariaDB" },
    ],
  },
  {
    title: "Herramientas",
    description:
      "Herramientas esenciales que uso para la gestión de código, el desarrollo de software, y el diseño.",
    icon: [
      { src: "./../../src/brandIcons/Git.svg", label: "Git" },
      { src: "./../../src/brandIcons/Docker.svg", label: "Docker" },
      { src: "./../../src/brandIcons/Linux.svg", label: "Linux" },
      { src: "./../../src/brandIcons/Figma.svg", label: "Figma" },
      { src: "./../../src/brandIcons/GitHub.svg", label: "GitHub" },
    ],
  },
  {
    title: "Suelo usar menos...",
    description:
      "Tecnologías y herramientas que uso ocasionalmente o en situaciones específicas. Aunque no son mi foco principal, tengo conocimientos escenciales en estas áreas y las utilizo según las necesidades del proyecto.",
    icon: [
      { src: "./../../src/brandIcons/Python.svg", label: "Python" },
      { src: "./../../src/brandIcons/Redux.svg", label: "Redux" },
      { src: "./../../src/brandIcons/Electron.svg", label: "Electron" },
      { src: "./../../src/brandIcons/AWS.svg", label: "AWS" },
      { src: "./../../src/brandIcons/Firebase.svg", label: "Firebase" },
      { src: "./../../src/brandIcons/Azure.svg", label: "Azure" },
      { src: "./../../src/brandIcons/Netlify.svg", label: "Netlify" },
      { src: "./../../src/brandIcons/MongoDB.svg", label: "MongoDB" },
    ],
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    KNOWLEDGE.map((experience) => (
      <li class="mb-10 ms-4">
        <KnowledgeItem {...experience} />
      </li>
    ))
  }
</ol>
