---
import KnowledgeItem from "./KnowledgeItem.astro";
import ReactIcon from "../components/icons/React.astro";
import ExpoIcon from "../components/icons/Expo.astro";
import NodeJSIcon from "../components/icons/NodeJS.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";
import JavaScriptIcon from "../components/icons/JavaScript.astro";
import TypescriptIcon from "../components/icons/Typescript.astro";
import ExpressIcon from "../components/icons/Express.astro";
import HTMLIcon from "../components/icons/HTML.astro";
import CSSIcon from "../components/icons/CSS.astro";
import AstroIcon from "../components/icons/AstroFr.astro";
import ViteIcon from "../components/icons/Vite.astro";
import UnityIcon from "../components/icons/Unity.astro";
import CSIcon from "../components/icons/CS.astro";
import MySQLIcon from "../components/icons/MySQL.astro";
import MariaDBIcon from "../components/icons/MariaDB.astro";
import PythonIcon from "../components/icons/Python.astro";
import TensorflowIcon from "../components/icons/Tensorflow.astro";
import AWSIcon from "../components/icons/AWS.astro";
import FirebaseIcon from "../components/icons/Firebase.astro";
import AzureIcon from "../components/icons/Azure.astro";
import NetlifyIcon from "../components/icons/Netlify.astro";
import MongoDBIcon from "../components/icons/MongoDB.astro";
import GitIcon from "../components/icons/Git.astro";
import DockerIcon from "../components/icons/Docker.astro";
import LinuxIcon from "../components/icons/Linux.astro";
import FigmaIcon from "../components/icons/Figma.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import WordpressIcon from "../components/icons/Wordpress.astro";
import ElementorIcon from "../components/icons/Elementor.astro";

const KNOWLEDGE = [
  {
    title: "Suelo usar más...",
    description:
      "Tecnologías con las que estoy más familiarizado y que frecuentemente utilizo en mis proyectos.",
    icon: [
      { component: ReactIcon, label: "React Native" },
      { component: ExpoIcon, label: "Expo" },
      { component: NodeJSIcon, label: "NodeJS" },
      { component: TailwindIcon, label: "Tailwind" },
      { component: JavaScriptIcon, label: "JavaScript" },
      { component: TypescriptIcon, label: "Typescript" },
      { component: ExpressIcon, label: "Express" },
      { component: HTMLIcon, label: "HTML" },
      { component: CSSIcon, label: "CSS" },
      { component: AstroIcon, label: "Astro" },
      { component: UnityIcon, label: "Unity" },
      { component: CSIcon, label: "CS" },
      { component: MySQLIcon, label: "MySQL" },
      { component: MariaDBIcon, label: "MariaDB" },
      { component: PythonIcon, label: "Python" },
      { component: TensorflowIcon, label: "Tensorflow" },
    ],
  },
  {
    title: "Suelo usar un poco menos...",
    description:
      "Tecnologías y herramientas que uso ocasionalmente o en situaciones específicas según las necesidades del proyecto.",
    icon: [
      { component: AWSIcon, label: "AWS" },
      { component: FirebaseIcon, label: "Firebase" },
      { component: AzureIcon, label: "Azure" },
      { component: NetlifyIcon, label: "Netlify" },
      { component: MongoDBIcon, label: "MongoDB" },
    ],
  },
  {
    title: "Otros",
    description:
      "Herramientas esenciales que uso para la gestión de código, el desarrollo de software, y el diseño.",
    icon: [
      { component: GitIcon, label: "Git" },
      { component: DockerIcon, label: "Docker" },
      { component: LinuxIcon, label: "Linux" },
      { component: FigmaIcon, label: "Figma" },
      { component: GitHubIcon, label: "GitHub" },
      { component: WordpressIcon, label: "Wordpress" },
      { component: ElementorIcon, label: "Elementor" },
    ],
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    KNOWLEDGE.map((experience) => (
      <li class="mb-10 ms-4">
        <KnowledgeItem {...experience} />
      </li>
    ))
  }
</ol>
